@import "variables.css";

.first-screen {
  width: 100%;
  max-width: 1440px;
  height: 795px;
  background: url("/assets/img/fs-background.png");
  position: relative;
  margin: 0 auto;
}

@media (max-width: 424px) {
  .first-screen {
    height: 700px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .first-screen {
    height: 650px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen {
    height: 545px;
  }
}

/*containers*/

.first-screen-container {
  width: 629px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .first-screen-container {
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen-container {
    width: 451px;
  }
}

/*content*/

.first-screen__content {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-left: 168px;
}

@media (min-width: 320px) and (max-width: 424px) {
  .first-screen__content {
    margin-left: 18px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .first-screen__content {
    margin-top: 10px;
    margin-left: 38px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__content {
    margin-top: 20px;
    margin-left: 50px;
  }
}

.fs-title {
  font-family: Museo Sans Cyrl, serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.76px;
  color: var(--fs-primary-color)
}

.fs-date {
  font-family: Helvetica Neue, serif;
  color: #fff;
  font-style: normal;
  line-height: normal;
}

/*logo*/

.first-screen-logo,
.first-screen__heading {
  margin-bottom: 24px;
}

.first-screen-logo {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .first-screen-logo {
    margin-bottom: 29px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen-logo {
    margin-bottom: 38px;
  }
}

.first-screen-logo__img {
  width: 96px;
  height: auto;
}

@media (max-width: 767px) {
  .first-screen-logo__img {
    width: 31px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen-logo__img {
    width: 48px;
  }
}

.first-screen-logo__title {
  font-family: Impact, serif;
  font-size: var(--fs-day-size);
  color: var(--fs-logo-color);
}

@media (max-width: 767px) {
  .first-screen-logo__title {
    font-size: var(--fs-day-size-mobile);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen-logo__title {
    font-size: var(--fs-day-size-tablet);
  }
}

/*title*/

.first-screen__heading {
  font-size: var(--fs-heading-size);
  z-index: 999;
}

@media (min-width: 320px) and (max-width: 424px) {
  .first-screen__heading {
    font-size: var(--main-old-price-size);
    width: 159px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .first-screen__heading {
    font-size: var(--main-old-price-size);
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .first-screen__heading {
    font-size: var(--main-old-price-size);
    width: 229px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__heading {
    font-size: var(--fs-heading-size-tablet);
  }
}

.first-screen__description {
  font-size: var(--fs-description-size);
  max-width: 501px;
  margin-bottom: 53px;
  z-index: 999;
}

@media (max-width: 767px) {
  .first-screen__description {
    font-size: var(--fs-day-size-tablet);
    max-width: 188px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.56px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__description {
    font-size: var(--main-prepayment-heading-size);
    font-weight: 700;
    max-width: 338px;
    margin-bottom: 25px;
  }
}

.first-screen__description span {
  font-weight: 900;
}

/*date*/

.first-screen__date-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 53px;
  z-index: 999;
}

@media (max-width: 767px) {
  .first-screen__date-section {
    flex-direction: column;
    gap: 13px;
    margin-bottom: 47px;
    align-items: flex-start;
    max-width: 173px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__date-section {
    gap: 16px;
    margin-bottom: 31px;
  }
}

.first-screen__date-wrapper {
  display: flex;
  background-color: var(--fs-date-wrapper-color);
  width: 209px;
}

.first-screen__day {
  font-size: var(--fs-day-size);
  padding: 5px 15px;
}

.first-screen__month-info {
  padding: 10px 42px 16px 0;
}

.first-screen__month {
  font-size: var(--fs-main-size);
}

.first-screen__start-info {
  font-family: Museo Sans Cyrl, serif;
  font-size: var(--fs-start-info-size);
  color: var(--fs-start-info-color);
}

@media (max-width: 767px) {
  .first-screen__date-wrapper {
    width: 173px;
  }

  .first-screen__day {
    font-size: var(--communications-button-size);
    padding: 5px 15px;
  }

  .first-screen__month-info {
    padding: 10px 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__date-wrapper {
    width: 173px;
  }

  .first-screen__day {
    font-size: var(--communications-button-size);
    padding: 5px 15px;
  }

  .first-screen__month-info {
    padding: 10px 0 10px;
  }
}

/*buttons*/

.first-screen__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: var(--fs-main-size);
  z-index: 999;
}

.first-screen__info-button {
  background-color: var(--red-button-color);
  padding: 23px 64px 26px 66px;
}

.info-button__text {
  color: #fff;
}

.first-screen__consulting-button {
  padding: 23px 29px;
  border: 1px solid var(--secondary-button-color);
}

.consulting-button__text {
  color: var(--secondary-button-color);
}

@media (min-width: 320px) and (max-width: 767px) {
  .first-screen__buttons {
    flex-direction: column;
    gap: 9px;
    width: 250px;
  }

  .first-screen__info-button {
    font-size: var(--communications-privacy-size);
    padding: 7px 13px;
    height: 52px;
  }

  .first-screen__consulting-button {
    font-size: var(--communications-privacy-size);
    padding: 7px 13px;
    height: 52px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__buttons {
    gap: 8px;
  }

  .first-screen__info-button {
    font-size: var(--communications-privacy-size);
    padding: 7px 13px;
    width: 189px;
    height: 52px;
  }

  .first-screen__consulting-button {
    font-size: var(--communications-privacy-size);
    padding: 7px 13px;
    width: 213px;
    height: 52px;
  }
}

/*images*/

.first-screen__images {
  pointer-events: none;
}

.first-screen__person {
  width: 528px;
  height: 687px;
  top: 108px;
  right: 101px;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 424px) {
  .first-screen__person {
    width: 348px;
    height: auto;
    right: -55%;
    top: 11%;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .first-screen__person {
    width: 348px;
    height: auto;
    right: -35%;
    top: 11%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__person {
    width: 348px;
    height: auto;
    right: -3%;
    top: 17%;
  }
}

.first-screen__cafe-left {
  top: 10px;
  left: 0;
  z-index: 0;
}

@media (max-width: 767px) {
  .first-screen__cafe-left {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__cafe-left {
    top: 9%;
    left: -7.5%;
    width: 350px;
    height: auto;
  }
}

.first-screen__cafe-right {
  top: 0;
  right: 0;
  z-index: 0;
}

@media (max-width: 424px) {
  .first-screen__cafe-right {
    top: 0;
    right: -58%;
    width: 463px;
    transform: rotate(-26.428deg);
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .first-screen__cafe-right {
    top: 0;
    right: -38%;
    width: 463px;
    transform: rotate(-26.428deg);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .first-screen__cafe-right {
    top: 0;
    right: -5.3%;
    width: 463px;
    height: auto;
    filter: blur(3px);
    z-index: 0;
  }
}