@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../public/assets/fonts/Museo/MuseoSansCyrl-300.woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../public/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../public/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../public/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../public/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url("../public/assets/fonts/bebasneue/bebasneueregular.woff");
}