@import "variables.css";

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1105px;
  padding: 90px 168px 96px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .products {
    width: 1105px;
    padding: 35px 25px 30px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .products {
    max-width: 788px;
    width: 100%;
    padding: 42px 53px 37px;
  }
}

/*containers*/

.product-primary-text {
  font-family: Helvetica Neue, serif;
  font-style: normal;
  line-height: 108%;
  color: var(--main-primary-color);
}

/*header*/

.products-header {
  color: var(--main-heading-color);
  font-family: "Helvetica Neue", serif;
  font-weight: bold;
  font-size: var(--main-heading-size);
  margin-bottom: 85px;
}

@media (min-width: 320px) and (max-width: 424px) {
  .products-header {
    font-size: var(--main-old-price-size);
    font-style: normal;
    line-height: 120%;
    width: 277px;
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .products-header {
    font-size: var(--main-old-price-size);
    font-style: normal;
    line-height: 120%;
    width: 277px;
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .products-header {
    font-size: var(--main-old-price-size);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 53px;
  }
}

/*content*/

.products-content {
  margin-bottom: 92px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .products-content {
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .products-content {
    margin-bottom: 37px;
  }
}

.products-list {
  display: flex;
  gap: 11px;
  max-width: 1104px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .products-list {
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .products-list {
    gap: 19px;
    max-width: 678px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 268px;
  padding: 32px 24px 22px;
  border: 1px solid var(--main-product-border);
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .product {
    padding: 32px 17px 30px;
    width: 268px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product {
    padding: 15px 24px;
    width: 105px;
  }
}

.product-header {
  font-size: var(--main-product-heading-size);
  color: var(--main-primary-color);
  margin-bottom: 32px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .product-header {
    font-size: var(--main-product-heading-size);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-header {
    font-size: var(--footer-company-info-size);
    margin-bottom: 18px;
  }
}

.product-price {
  font-size: var(--main-product-price-size);
  font-family: Helvetica Neue, serif;
  margin-bottom: 7px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .product-price {
    font-size: var(--main-product-price-size-adaptive);
    line-height: 108%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-price {
    font-size: var(--main-promo-info-size-adaptive);
    margin-bottom: 8px;
  }
}

.product-discount {
  background-color: var(--red-button-color);
  width: 69px;
  padding: 10px 0;
  top: 129px;
  right: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .product-discount {
    top: 139px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-discount {
    width: 46px;
    padding: 8px 0;
    top: 86px;
    right: 15px;
  }
}

.product-discount__title {
  font-size: var(--main-discount-size);
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-discount__title {
    font-size: var(--main-list-size);
  }
}

.product-old-price {
  font-size: var(--main-old-price-size);
  color: var(--main-old-price-color);
  font-family: Roboto, serif;
  margin-bottom: 33px;
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--red-button-color);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-old-price {
    font-size: var(--main-old-price-size-adaptive);
    margin-bottom: 23px;
  }
}

.product-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-info-list {
    gap: 8px;
    margin-bottom: 18px;
  }
}

.product-info {
  display: flex;
  align-items: center;
  background-image: url("/assets/icons/check.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-info {
    padding-left: 6px;
    background-size: 6px 6px;
  }
}

.product-info:first-child,
.product-info:last-child {
  font-weight: bold;
}


.product-info__description {
  font-family: Montserrat, serif;
  font-size: var(--main-list-size);
  padding-left: 15px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-info__description {
    font-size: var(--main-desription-size-adaptive);
    padding-left: 8px;
  }
}

.product-prepayment,
.product-prepayment__title,
.product-prepayment__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-prepayment {
  gap: 21px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-prepayment {
    gap: 16px;
  }
}

.product-prepayment__title {
  gap: 6px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-prepayment__title {
    gap: 3px;
  }
}

.product-prepayment__description {
  font-size: var(--main-prepayment-heading-size);
  color: var(--main-old-price-color);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-prepayment__description {
    font-size: var(--fs-start-info-size);
  }
}

.product-prepayment__price {
  font-size: var(--main-prepayment-price-size);
  color: var(--main-primary-color);
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-prepayment__price {
    font-size: var(--main-prepayment-heading-size);
  }
}

.product-prepayment__buttons {
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .product-prepayment__buttons {
    gap: 5px;
  }
}

.prepayment-button {
  padding: 12px 24px 8px;
  background-color: var(--red-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .prepayment-button {
    height: 66px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prepayment-button {
    padding: 9px 13px;
    width: 125px;
  }
}

.prepayment-button__text {
  color: #fff;
  font-size: var(--main-button-size);
  font-family: Montserrat, serif;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prepayment-button__text {
    font-size: var(--main-desription-size-adaptive);
    font-style: normal;
    line-height: 11px;
  }
}

/*promo*/

.promo {
  background: var(--promo-bg-color);
  width: 80vw;
  max-width: 1105px;
  height: 28.854167vw;
  max-height: 361px;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.promo-description {
  display: flex;
  flex-direction: column;
  gap: 1.82292vw;
  top: 13.17708vw;
  left: 43.95833vw;
}

.promo-description__title {
  font-family: "Bebas Neue Cyrillic", serif;
  font-size: var(--main-promo-heading-size);
  line-height: 1.82292;
  letter-spacing: -0.144vw;
  text-transform: uppercase;
  color: var(--promo-title-color);
  font-weight: 700;
  text-shadow: 0 -0.144vw 0 #fff, 0 -0.288vw 0 #eee, 0 -0.432vw 0 #ddd, 0 -0.576vw 0 #ccc;
}

.promo-description__text {
  font-size: var(--main-promo-info-size);
  color: var(--promo-main-color);
  font-family: Helvetica Neue, serif;
  font-weight: 500;
  line-height: 1.5;
}

.promo-description__text span {
  font-weight: bold;
}

/*promo image*/

.promo {
  width: 1105px;
  height: auto;
}

.promo-img {
  user-select: none;
  width: 100%;
  height: auto;
  pointer-events: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .promo {
    width: 301px;
    height: 112px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .promo {
    width: 678px;
    height: 223px;
  }
}