:root {
  /*colors*/
  --fs-primary-color: #232323;
  --fs-logo-color: #18193F;
  --fs-date-wrapper-color: rgba(66, 66, 66, 0.80);
  --fs-start-info-color: #D2E400;

  --main-heading-color: #181818;
  --main-primary-color: #1B002F;
  --main-list-color: #2A2A2A;
  --main-old-price-color: #A7ACBF;
  --main-product-border: rgba(72, 72, 72, 0.40);
  --promo-bg-color: linear-gradient(268deg, #F5C618 1.36%, #FFE481 97.73%);
  --promo-heading-color: #6C6C6C;
  --promo-main-color: #2C2C2C;
  --promo-title-color: #7a7614;
  --promo-rectangle-color: linear-gradient(201deg, #2E2F0B 2.5%, rgba(140, 142, 8, 0.00) 86.35%);

  --communications-bg-color: #F5C618;
  --communications-font-color: #151515;
  --communications-input-color: #686868;

  --footer-bg-color: #2A2A2A;

  --red-button-color: #E10000;
  --secondary-button-color: #171717;

  /*fonts*/
  --fs-heading-size: 44px;
  --fs-heading-size-tablet: 33px;
  --fs-description-size: 35px;
  --fs-day-size: 40px;
  --fs-day-size-tablet: 20px;
  --fs-day-size-mobile: 14px;
  --fs-main-size: 18px;
  --fs-start-info-size: 12px;

  --main-heading-size: 37px;
  --main-product-heading-size: 26px;
  --main-product-price-size: 50px;
  --main-product-price-size-adaptive: 64px;
  --main-promo-info-size-adaptive: 26px;
  --main-old-price-size: 24px;
  --main-old-price-size-adaptive: 18px;
  --main-list-size: 12px;
  --main-discount-size: 19px;
  --main-desription-size-adaptive: 8px;
  --main-prepayment-heading-size: 22px;
  --main-prepayment-price-size: 32px;
  --main-button-size: 14px;
  --main-promo-heading-size: 127px;
  --main-promo-info-size: 24px;

  --communications-heading-size: 32px;
  --communications-info-size: 21px;
  --communications-input-size: 24px;
  --communications-button-size: 30px;
  --communications-privacy-size: 16px;

  --footer-company-info-size-adaptive: 6px;
  --footer-main-size: 22px;
  --footer-company-info-size: 16px;


}